<!DOCTYPE html>
<html
  lang="en"
  data-layout="{{ layout }}"
  data-library-version="{{ meta.version }}"
  data-library-cdndir="{{ meta.cdndir }}"
  data-library-npmdir="{{ meta.npmdir }}"
  data-library-package-organization="{{ meta.packageOrganization }}"
  data-library-package-name="{{ meta.packageName }}"
  data-library-package-full-name="{{ meta.packageFullName }}"
  data-library-package-full-name-with-version="{{ meta.packageFullNameWithVersion }}"
  data-library-package-url="{{ meta.packageUrl }}"
  data-library-react-version="{{ meta.reactVersion }}"
  data-library-react-cdn-url="{{ meta.reactCdnUrl }}"
  data-library-react-url="{{ meta.reactUrl }}"
  data-library-react-package-url="{{ meta.reactPackageUrl }}"
>
  <head>
    {# Metadata #}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ meta.description }}" />
    <title>{{ meta.title }}</title>

    {# Opt out of Turbo caching #}
    <meta name="turbo-cache-control">

    {# Stylesheets #}
    <link rel="stylesheet" href="{{ assetUrl('styles/docs.css') }}" />
    <link rel="stylesheet" href="{{ assetUrl('styles/code-previews.css') }}" />
    <link rel="stylesheet" href="{{ assetUrl('styles/search.css') }}" />

    {# Favicons #}
    <link rel="icon" href="{{ assetUrl('images/logo.svg') }}" type="image/x-icon" />

    {# Twitter Cards #}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="shoelace_style" />
    <meta name="twitter:image" content="{{ assetUrl(meta.image, true) }}" />

    {# OpenGraph #}
    <meta property="og:url" content="{{ rootUrl(page.url, true) }}" />
    <meta property="og:title" content="{{ meta.title }}" />
    <meta property="og:description" content="{{ meta.description }}" />
    <meta property="og:image" content="{{ assetUrl(meta.image, true) }}" />

    {# Import Library #}
    <link rel="stylesheet" href="/dist/themes/light.css" />
    <link rel="stylesheet" href="/dist/themes/dark.css" />
    <script type="module" src="/dist/circular.js"></script>

    {# Set the initial theme and menu states here to prevent flashing #}
    <script>
      (() => {
        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
        const theme = localStorage.getItem('theme') || 'auto';
        document.documentElement.classList.toggle('o-theme-dark', theme === 'dark' || (theme === 'auto' && prefersDark));
      })();
    </script>

    {# Turbo + Scroll positioning #}
    <script src="{{ assetUrl('scripts/turbo.js') }}" type="module"></script>
    <script src="{{ assetUrl('scripts/docs.js') }}" defer></script>
    <script src="{{ assetUrl('scripts/code-previews.js') }}" defer></script>
    <script src="{{ assetUrl('scripts/lunr.js') }}" defer></script>
    <script src="{{ assetUrl('scripts/search.js') }}" defer></script>
  </head>
  <body>
    <a id="skip-to-main" class="visually-hidden" href="#main-content" data-smooth-link="false">
      Skip to main content
    </a>

    {# Menu toggle #}
    <button id="menu-toggle" type="button" aria-label="Menu">
      <svg width="148" height="148" viewBox="0 0 148 148" xmlns="http://www.w3.org/2000/svg">
        <g stroke="currentColor" stroke-width="18" fill="none" fill-rule="evenodd" stroke-linecap="round">
          <path d="M9.5 125.5h129M9.5 74.5h129M9.5 23.5h129"></path>
        </g>
      </svg>
    </button>

    {# Icon toolbar #}
    <div id="icon-toolbar">
      {# GitHub #}
      <a href="{{ meta.repoUrl }}" title="View {{ meta.libraryName }} on GitHub">
        <o-icon name="github"></o-icon>
      </a>

      {# Twitter #}
      <a href="https://twitter.com/{{ meta.twitterUser }}" title="Follow {{ meta.libraryName }} on Twitter">
        <o-icon name="twitter"></o-icon>
      </a>

      {# Theme selector #}
      <o-dropdown id="theme-selector" placement="bottom-end" distance="3">
        <o-button slot="trigger" size="small" variant="text" caret title="Press \ to toggle">
          <o-icon class="only-light" name="sun-fill"></o-icon>
          <o-icon class="only-dark" name="moon-fill"></o-icon>
        </o-button>
        <o-menu>
          <o-menu-item type="checkbox" value="light">Light</o-menu-item>
          <o-menu-item type="checkbox" value="dark">Dark</o-menu-item>
          <o-divider></o-divider>
          <o-menu-item type="checkbox" value="auto">System</o-menu-item>
        </o-menu>
      </o-dropdown>
    </div>

    <aside id="sidebar" data-preserve-scroll>
      <header>
        <a href="/">
          <img src="{{ assetUrl('images/circular-logo-light.svg') }}" alt="{{ meta.libraryName }}" />
        </a>
        <div class="sidebar-version">
          {{ meta.version }}
        </div>
      </header>

      <div class="sidebar-buttons">
        <o-button size="small" class="repo-button repo-button--sponsor" href="{{ meta.sponsorUrl }}" target="_blank">
          <o-icon slot="prefix" name="heart"></o-icon> Sponsor
        </o-button>
        <o-button size="small" class="repo-button repo-button--github" href="{{ meta.repoUrl }}" target="_blank">
          <o-icon slot="prefix" name="github"></o-icon> Code
        </o-button>
        <o-button size="small" class="repo-button repo-button--twitter" href="https://twitter.com/{{ meta.twitterUser }}" target="_blank">
          <o-icon slot="prefix" name="twitter"></o-icon> Follow
        </o-button>
      </div>

      <button class="search-box" type="button" title="Press / to search" aria-label="Search" data-plugin="search">
        <o-icon name="search"></o-icon>
        <span>Search</span>
      </button>

      <nav>
        {% include 'sidebar.njk' %}
      </nav>
    </aside>

    {# Content #}
    <main>
      <a id="main-content"></a>
      <article id="content" class="content{% if toc %} content--with-toc{% endif %}">
        {% if toc %}
          <div class="content__toc">
            <ul>
              <li class="top"><a href="#">{{ meta.title }}</a></li>
            </ul>
          </div>
        {% endif %}

        <div class="content__body">
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>
      </article>
    </main>
  </body>
</html>
