# //registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
# @jeysonj2:registry=https://registry.npmjs.org/
# always-auth=true

//npm.pkg.github.com/:_authToken=${NODE_GITHUB_AUTH_TOKEN}
@jeysonj2:registry=https://npm.pkg.github.com
always-auth=true
