:root,
:host,
.o-theme-light {
  color-scheme: light;

  /*
   * Color Primitives
   */

  /* Clear Clue (CB) */
  --o-color-CB-50: #eef8ff;
  --o-color-CB-100: #daefff;
  --o-color-CB-200: #bde4ff;
  --o-color-CB-300: #90d5ff;
  --o-color-CB-400: #5bbbff;
  --o-color-CB-500: #359dfc;
  --o-color-CB-600: #0083ff;
  --o-color-CB-700: #0068ff;
  --o-color-CB-800: #0059e6;
  --o-color-CB-900: #0050b3;
  --o-color-CB-950: #002652;

  /* Cerulean Azure (CA) */
  --o-color-CA-50: #f0faff;
  --o-color-CA-100: #e0f5fe;
  --o-color-CA-200: #b9ecfe;
  --o-color-CA-300: #7cdefd;
  --o-color-CA-400: #36cefa;
  --o-color-CA-500: #0cb9eb;
  --o-color-CA-600: #009dd3;
  --o-color-CA-700: #0177a3;
  --o-color-CA-800: #066486;
  --o-color-CA-900: #0b526f;
  --o-color-CA-950: #07354a;

  /* Golden Sea (GS) */
  --o-color-GS-50: #fffdea;
  --o-color-GS-100: #fff6c5;
  --o-color-GS-200: #ffed85;
  --o-color-GS-300: #ffdd46;
  --o-color-GS-400: #ffce00;
  --o-color-GS-500: #ffa800;
  --o-color-GS-600: #e27f00;
  --o-color-GS-700: #bb5802;
  --o-color-GS-800: #984308;
  --o-color-GS-900: #7c370b;
  --o-color-GS-950: #481b00;

  /* Purple Raker (PR) */
  --o-color-PR-50: #f5f5fd;
  --o-color-PR-100: #ededfa;
  --o-color-PR-200: #d8d8f6;
  --o-color-PR-300: #c3c1f1;
  --o-color-PR-400: #a39ee7;
  --o-color-PR-500: #8376dc;
  --o-color-PR-600: #7059ce;
  --o-color-PR-700: #6046bb;
  --o-color-PR-800: #503b9c;
  --o-color-PR-900: #423280;
  --o-color-PR-950: #281f56;

  /* Salem Green (SG) */
  --o-color-SG-50: #f0fdf6;
  --o-color-SG-100: #dcfcec;
  --o-color-SG-200: #bcf6d8;
  --o-color-SG-300: #87eebb;
  --o-color-SG-400: #4cdc95;
  --o-color-SG-500: #24c376;
  --o-color-SG-600: #18a15e;
  --o-color-SG-700: #17834f;
  --o-color-SG-800: #17643f;
  --o-color-SG-900: #155236;
  --o-color-SG-950: #052e1c;

  /* Tea Green (TG) */
  --o-color-TG-50: #f0fbea;
  --o-color-TG-100: #ddf7d0;
  --o-color-TG-200: #caf2b8;
  --o-color-TG-300: #94e274;
  --o-color-TG-400: #6ed348;
  --o-color-TG-500: #4fb82a;
  --o-color-TG-600: #3a931d;
  --o-color-TG-700: #2e701b;
  --o-color-TG-800: #29591b;
  --o-color-TG-900: #244c1b;
  --o-color-TG-950: #0f2a09;

  /* Hibiscus Red (HR) */
  --o-color-HR-50: #fff1f2;
  --o-color-HR-100: #ffe0e3;
  --o-color-HR-200: #ffc6cb;
  --o-color-HR-300: #ff9ea7;
  --o-color-HR-400: #ff6674;
  --o-color-HR-500: #fd3649;
  --o-color-HR-600: #eb172b;
  --o-color-HR-700: #b70e1e;
  --o-color-HR-800: #a3111f;
  --o-color-HR-900: #871520;
  --o-color-HR-950: #4a050c;

  /* Coal White (CW) */
  --o-color-CW-50: #ffffff;
  --o-color-CW-100: #efefef;
  --o-color-CW-200: #dcdcdc;
  --o-color-CW-300: #bdbdbd;
  --o-color-CW-400: #989898;
  --o-color-CW-500: #7c7c7c;
  --o-color-CW-600: #656565;
  --o-color-CW-700: #525252;
  --o-color-CW-800: #454545;
  --o-color-CW-900: #292929;
  --o-color-CW-950: #000000;

  /* Ghost Gray (GR) */
  --o-color-GR-50: #f6f7f8;
  --o-color-GR-100: #eaebef;
  --o-color-GR-200: #dadde3;
  --o-color-GR-300: #c7cbd4;
  --o-color-GR-400: #a3a9b7;
  --o-color-GR-500: #8c91a5;
  --o-color-GR-600: #7b7f95;
  --o-color-GR-700: #6e7087;
  --o-color-GR-800: #5d5e70;
  --o-color-GR-900: #4d4e5b;
  --o-color-GR-950: #31323a;

  /*
   * Theme Tokens
   */

  /* Primary */
  --o-color-primary-50: var(--o-color-CA-50);
  --o-color-primary-100: var(--o-color-CA-100);
  --o-color-primary-200: var(--o-color-CA-200);
  --o-color-primary-300: var(--o-color-CA-300);
  --o-color-primary-400: var(--o-color-CA-400);
  --o-color-primary-500: var(--o-color-CA-500);
  --o-color-primary-600: var(--o-color-CA-600);
  --o-color-primary-700: var(--o-color-CA-700);
  --o-color-primary-800: var(--o-color-CA-800);
  --o-color-primary-900: var(--o-color-CA-900);
  --o-color-primary-950: var(--o-color-CA-950);

  /* Success */
  --o-color-success-50: var(--o-color-TG-50);
  --o-color-success-100: var(--o-color-TG-100);
  --o-color-success-200: var(--o-color-TG-200);
  --o-color-success-300: var(--o-color-TG-300);
  --o-color-success-400: var(--o-color-TG-400);
  --o-color-success-500: var(--o-color-TG-500);
  --o-color-success-600: var(--o-color-TG-600);
  --o-color-success-700: var(--o-color-TG-700);
  --o-color-success-800: var(--o-color-TG-800);
  --o-color-success-900: var(--o-color-TG-900);
  --o-color-success-950: var(--o-color-TG-950);

  /* Warning */
  --o-color-warning-50: var(--o-color-GS-50);
  --o-color-warning-100: var(--o-color-GS-100);
  --o-color-warning-200: var(--o-color-GS-200);
  --o-color-warning-300: var(--o-color-GS-300);
  --o-color-warning-400: var(--o-color-GS-400);
  --o-color-warning-500: var(--o-color-GS-500);
  --o-color-warning-600: var(--o-color-GS-600);
  --o-color-warning-700: var(--o-color-GS-700);
  --o-color-warning-800: var(--o-color-GS-800);
  --o-color-warning-900: var(--o-color-GS-900);
  --o-color-warning-950: var(--o-color-GS-950);

  /* Danger */
  --o-color-danger-50: var(--o-color-HR-50);
  --o-color-danger-100: var(--o-color-HR-100);
  --o-color-danger-200: var(--o-color-HR-200);
  --o-color-danger-300: var(--o-color-HR-300);
  --o-color-danger-400: var(--o-color-HR-400);
  --o-color-danger-500: var(--o-color-HR-500);
  --o-color-danger-600: var(--o-color-HR-600);
  --o-color-danger-700: var(--o-color-HR-700);
  --o-color-danger-800: var(--o-color-HR-800);
  --o-color-danger-900: var(--o-color-HR-900);
  --o-color-danger-950: var(--o-color-HR-950);

  /* Neutral */
  --o-color-neutral-50: var(--o-color-CW-50);
  --o-color-neutral-100: var(--o-color-CW-100);
  --o-color-neutral-200: var(--o-color-CW-200);
  --o-color-neutral-300: var(--o-color-CW-300);
  --o-color-neutral-400: var(--o-color-CW-400);
  --o-color-neutral-500: var(--o-color-CW-500);
  --o-color-neutral-600: var(--o-color-CW-600);
  --o-color-neutral-700: var(--o-color-CW-700);
  --o-color-neutral-800: var(--o-color-CW-800);
  --o-color-neutral-900: var(--o-color-CW-900);
  --o-color-neutral-950: var(--o-color-CW-950);

  /* Canvas */
  --o-color-canvas-50: var(--o-color-GR-50);
  --o-color-canvas-100: var(--o-color-GR-100);
  --o-color-canvas-200: var(--o-color-GR-200);
  --o-color-canvas-300: var(--o-color-GR-300);
  --o-color-canvas-400: var(--o-color-GR-400);
  --o-color-canvas-500: var(--o-color-GR-500);
  --o-color-canvas-600: var(--o-color-GR-600);
  --o-color-canvas-700: var(--o-color-GR-700);
  --o-color-canvas-800: var(--o-color-GR-800);
  --o-color-canvas-900: var(--o-color-GR-900);
  --o-color-canvas-950: var(--o-color-GR-950);

  /* Neutral one-offs */
  --o-color-neutral-0: hsl(0, 0%, 100%);
  --o-color-neutral-1000: hsl(0, 0%, 0%);

  /*
   * Border radius
   */

  --o-border-radius-small: 0.1875rem; /* 3px */
  --o-border-radius-medium: 0.25rem; /* 4px */
  --o-border-radius-large: 0.5rem; /* 8px */
  --o-border-radius-x-large: 1rem; /* 16px */

  --o-border-radius-circle: 50%;
  --o-border-radius-pill: 9999px;

  /*
   * Elevations
   */

  --o-shadow-x-small: 0 1px 2px hsl(240 3.8% 46.1% / 6%);
  --o-shadow-small: 0 1px 2px hsl(240 3.8% 46.1% / 12%);
  --o-shadow-medium: 0 2px 4px hsl(240 3.8% 46.1% / 12%);
  --o-shadow-large: 0 2px 8px hsl(240 3.8% 46.1% / 12%);
  --o-shadow-x-large: 0 4px 16px hsl(240 3.8% 46.1% / 12%);

  /*
   * Spacings
   */

  --o-spacing-3x-small: 0.125rem; /* 2px */
  --o-spacing-2x-small: 0.25rem; /* 4px */
  --o-spacing-x-small: 0.5rem; /* 8px */
  --o-spacing-small: 0.75rem; /* 12px */
  --o-spacing-medium: 1rem; /* 16px */
  --o-spacing-large: 1.25rem; /* 20px */
  --o-spacing-x-large: 1.5rem; /* 24px */
  --o-spacing-2x-large: 2.25rem; /* 36px */
  --o-spacing-3x-large: 3rem; /* 48px */
  --o-spacing-4x-large: 4.5rem; /* 72px */

  /*
   * Transitions
   */

  --o-transition-x-slow: 1000ms;
  --o-transition-slow: 500ms;
  --o-transition-medium: 250ms;
  --o-transition-fast: 150ms;
  --o-transition-x-fast: 50ms;

  /*
   * Typography
   */

  /* Fonts */
  --o-font-mono: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* Font sans -> Poppins  - used in components */
  --o-font-sans: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --o-font-serif: Georgia, 'Times New Roman', serif;

  /* Font sizes */
  --o-font-size-2x-small: 0.625rem; /* 10px */
  --o-font-size-x-small: 0.75rem; /* 12px */
  --o-font-size-small: 0.875rem; /* 14px */
  --o-font-size-medium: 1rem; /* 16px */
  --o-font-size-large: 1.5rem; /* 24px */
  --o-font-size-x-large: 2rem; /* 32px */
  --o-font-size-2x-large: 2.5rem; /* 40px */
  --o-font-size-3x-large: 3rem; /* 48px */
  --o-font-size-4x-large: 3.5rem; /* 56px */
  --o-font-size-5x-large: 4rem; /* 64px */
  --o-font-size-6x-large: 4.5rem; /* 72px */
  --o-font-size-7x-large: 5.5rem; /* 88px */
  --o-font-size-8x-large: 8.75rem; /* 140px */

  /* Font weights */
  --o-font-weight-light: 300;
  --o-font-weight-normal: 400;
  --o-font-weight-medium: 500;
  --o-font-weight-semibold: 600;
  --o-font-weight-bold: 700;
  --o-font-weight-extrabold: 800;

  /* Letter spacings */
  --o-letter-spacing-denser: -0.03em;
  --o-letter-spacing-dense: -0.015em;
  --o-letter-spacing-normal: normal;
  --o-letter-spacing-loose: 0.075em;
  --o-letter-spacing-looser: 0.15em;

  /* Line heights */
  --o-line-height-denser: 1;
  --o-line-height-dense: 1.2;
  --o-line-height-normal: 1.4;
  --o-line-height-loose: 1.5;
  --o-line-height-looser: 2;

  /* Focus rings */
  --o-focus-ring-color: var(--o-color-neutral-1000);
  --o-focus-ring-style: solid;
  --o-focus-ring-width: 2px;
  --o-focus-ring: var(--o-focus-ring-style) var(--o-focus-ring-width) var(--o-focus-ring-color);
  --o-focus-ring-offset: 1px;

  /*
   * Forms
   */

  /* Buttons */
  --o-button-font-size-small: var(--o-font-size-x-small);
  --o-button-font-size-medium: var(--o-font-size-medium);
  --o-button-font-size-large: var(--o-font-size-large);

  /* Inputs */
  --o-input-height-small: 3rem; /* 48px */
  --o-input-height-medium: 3.5rem; /* 56px */
  --o-input-height-large: 4rem; /* 64px */

  --o-input-background-color: var(--o-color-neutral-0);
  --o-input-background-color-hover: var(--o-color-neutral-0);
  --o-input-background-color-focus: var(--o-color-neutral-0);
  --o-input-background-color-disabled: var(--o-color-neutral-0);
  --o-input-border-color: var(--o-color-neutral-400);
  --o-input-border-color-hover: var(--o-color-circular-primary-600);
  --o-input-border-color-focus: var(--o-color-circular-primary-600);
  --o-input-border-color-disabled: var(--o-color-GR-50);
  --o-input-border-width: 1px;
  --o-input-border-width-medium: 2px;
  --o-input-required-content: '*';
  --o-input-required-content-offset: -2px;
  --o-input-required-content-color: var(--o-input-label-color);

  --o-input-border-radius-small: var(--o-border-radius-large);
  --o-input-border-radius-medium: var(--o-border-radius-large);
  --o-input-border-radius-large: var(--o-border-radius-large);

  --o-input-font-family: var(--o-font-sans);
  --o-input-font-weight: var(--o-font-weight-normal);
  --o-input-font-size-small: var(--o-font-size-small);
  --o-input-font-size-medium: var(--o-font-size-medium);
  --o-input-font-size-large: var(--o-font-size-large);
  --o-input-letter-spacing: var(--o-letter-spacing-normal);

  --o-input-color: var(--o-color-neutral-1000);
  --o-input-color-hover: var(--o-color-neutral-1000);
  --o-input-color-focus: var(--o-color-neutral-1000);
  --o-input-color-disabled: var(--o-color-GR-200);
  --o-input-icon-color: var(--o-color-circular-primary-600);
  --o-input-icon-color-hover: var(--o-color-circular-primary-600);
  --o-input-icon-color-focus: var(--o-color-circular-primary-600);
  --o-input-icon-color-disabled: var(--o-color-GR-200);
  --o-input-placeholder-color: var(--o-color-neutral-400);
  --o-input-placeholder-color-disabled: var(--o-color-GR-200);
  --o-input-spacing-small: var(--o-spacing-small);
  --o-input-spacing-medium: var(--o-spacing-medium);
  --o-input-spacing-large: var(--o-spacing-large);

  --o-input-focus-ring-color: var(--o-color-circular-primary-600);
  --o-input-focus-ring-offset: 0;

  --o-input-filled-background-color: var(--o-color-neutral-200);
  --o-input-filled-background-color-hover: var(--o-color-neutral-200);
  --o-input-filled-background-color-focus: var(--o-color-neutral-200);
  --o-input-filled-background-color-disabled: var(--o-color-neutral-200);
  --o-input-filled-color: var(--o-color-neutral-400);
  --o-input-filled-color-hover: var(--o-color-neutral-400);
  --o-input-filled-color-focus: var(--o-color-neutral-400);
  --o-input-filled-color-disabled: var(--o-color-neutral-400);

  /* Labels */
  --o-input-label-font-size-small: var(--o-font-size-small);
  --o-input-label-font-size-medium: var(--o-font-size-medium);
  --o-input-label-font-size-large: var(--o-font-size-large);
  --o-input-label-color: inherit;

  /* Help text */
  --o-input-help-text-font-size-small: var(--o-font-size-x-small);
  --o-input-help-text-font-size-medium: var(--o-font-size-medium);
  --o-input-help-text-font-size-large: var(--o-font-size-large);
  --o-input-help-text-color: var(--o-color-neutral-1000);

  /* Toggles (checkboxes, radios, switches) */
  --o-toggle-size-small: 0.875rem; /* 14px */
  --o-toggle-size-medium: 1.125rem; /* 18px */
  --o-toggle-size-large: 1.375rem; /* 22px */

  /*
   * Overlays
   */

  --o-overlay-background-color: hsl(240 3.8% 46.1% / 33%);

  /*
   * Panels
   */

  --o-panel-background-color: var(--o-color-neutral-0);
  --o-panel-border-color: var(--o-color-neutral-200);
  --o-panel-border-width: 1px;

  /*
   * Tooltips
   */

  --o-tooltip-border-radius: var(--o-border-radius-medium);
  --o-tooltip-background-color: var(--o-color-neutral-800);
  --o-tooltip-color: var(--o-color-neutral-0);
  --o-tooltip-font-family: var(--o-font-sans);
  --o-tooltip-font-weight: var(--o-font-weight-normal);
  --o-tooltip-font-size: var(--o-font-size-small);
  --o-tooltip-line-height: var(--o-line-height-dense);
  --o-tooltip-padding: var(--o-spacing-2x-small) var(--o-spacing-x-small);
  --o-tooltip-arrow-size: 6px;

  /*
   * Z-indexes
   */

  --o-z-index-drawer: 700;
  --o-z-index-dialog: 800;
  --o-z-index-dropdown: 900;
  --o-z-index-toast: 950;
  --o-z-index-tooltip: 1000;
}

/* _utility.css */
